.header {
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.discription{
    width: 98%;
    color: #848484;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item {
    img{
        width:3rem;
    }
}